Battlecode\ 2015
teams/*

AllowedPackages.txt
DisallowedClasses.txt
MethodCosts.txt
Uninstaller
art
bc.conf
bin
build.xml
doc
lib
match.rms
.recommenders

lanes.xml
noeffort.xml
onetower.xml
rift.xml
shield.xml
trenches.xml
border.xml
choke.xml
churn.xml
click.xml
crumble.xml
divide.xml
drone.xml
eightgates.xml
flow.xml
hourglass.xml
lanes.xml
mesh.xml
noeffort.xml
onetower.xml
pile.xml
rich.xml
rift.xml
sepulchre.xml
shapes.xml
shield.xml
snakey.xml
tree.xml
trenches.xml
twos.xml
voracious.xml

music
sound
teams/examplefuncsplayer
version.txt
.installationinformation

*.class

# Vim files
*.swp
*.swo
*.swn
*.swm

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.DS_Store
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
